<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Heat Map Demo</title>

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <style type="text/css">
    html, body, #map-canvas {
      height: 100%;
    }
  </style>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&key=AIzaSyCketjyhP7gLNIgQR3EEazh9OPgTlIrfCs">
  </script>
  <script type="text/javascript">
    function initialize() {
      var mapOptions = {
        center: {
          lat: 33.7550,
          lng: -84.3900
        },
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

      var data = [];

      {% for location in locations %}
        data.push(new google.maps.LatLng({{ location.y }}, {{ location.x }}));
      {% endfor %}

      var pointArray = new google.maps.MVCArray(data);
      var heatmap = new google.maps.visualization.HeatmapLayer({
        dissipating: true,
        map: map,
        radius: 0.0754 * Math.pow(Math.E, 0.2895 * map.getZoom()) * map.getZoom(),
        data: pointArray
      });
      heatmap.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

</head>
<body class="container-fluid">

{%- include 'partials/_navbar.html' with context %}

<div id="map-canvas"></div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>